[client]
port            = 3306
socket          = /var/lib/mysql/mysql.sock
default-character-set=UTF8MB4

[mysql]
default-character-set=UTF8MB4

[mysqld]
local-infile = 0
port            = 3306
socket          = /var/lib/mysql/mysql.sock
collation-server = utf8_bin
character-set-server = UTF8MB4
default_authentication_plugin = mysql_native_password
max_user_connections=800
max_connections=1000
interactive_timeout=10
wait_timeout=20
connect_timeout=20