[Unit]
Description=Cloudgate - Fast web application server
Documentation=https://github.com/elestio/cloudgate
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=nodebin binpath --memstate /etc/cloudgate/memorystate.json
Environment="NODE_OPTIONS=--experimental-worker"

[Install]
WantedBy=multi-user.target
Alias=cloudgate.service